# Please add your entries following to the established alphabetical order

java-mqtt-client @Cumulocity-IoT/c8y-data-in-motion
lpwan-backend @Cumulocity-IoT/c8y-data-and-control
microservice @Cumulocity-IoT/c8y-microservice-hosting
mqtt-service @Cumulocity-IoT/c8y-data-in-motion

/** @Cumulocity-IoT/c8y-platform-management
