# Please add your entries following to the established alphabetical order
* @Cumulocity-IoT/c8y-platform-management
/java-mqtt-client/ @Cumulocity-IoT/c8y-data-in-motion
/lpwan-backend/ @Cumulocity-IoT/c8y-data-and-control-backend
/microservice/ @Cumulocity-IoT/c8y-microservice-hosting
/microservice/custom-decoders/ @Cumulocity-IoT/c8y-data-and-control-backend
/microservice/custom-encoders/ @Cumulocity-IoT/c8y-data-and-control-backend
/microservice/lpwan-custom-codec/ @Cumulocity-IoT/c8y-data-and-control-backend
/mqtt-service/ @Cumulocity-IoT/c8y-data-in-motion
