{
  "name": "java-sdk",
  "version": "{{ build_version }}",
  "artifacts": [
    {
      "name": "snmp-mib-parser",
      "location": "kubernetes-images/snmp-mib-parser-{{ build_version }}.zip",
      "version": "{{ build_version }}",
      "type": "archive-microservice"
    }
  ]
}