{
  "name": "java-sdk",
  "version": "{{ version }}",
  "skipRC": true,
  "artifacts": [
    {
      "name": "snmp-mib-parser",
      "location": "kubernetes-images/snmp-mib-parser-{{ version }}.zip",
      "version": "{{ version }}",
      "type": "archive-microservice"
    }
  ]
}
